<!DOCTYPE html>
<html>
<head>
  <title>Create User</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> 
</head>
<body class="body-style">
  <center class="center-style">
    <div class="form-style">
      <h3 class="form-title">Create User</h3>
      <form action="/create_user" method="post">
        <label class="label-style">Username</label><br>
        <input type="text" name="username"/><br>
        <label class="label-style">Password</label><br>
        <input type="password" name="password1"/><br>
        <label class="label-style">Confirm Password</label><br>
        <input type="password" name="password2"/><br><br>
        <input type="submit" value="Create"/>
      </form>
      <p class="error-message">{{error_create}}</p>
    </div>
  </center>
</body>
</html>
